{{! views/auth/signup.hbs }}

<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST" "multipart/form-data" >

    <label>
      Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>
<div class="form-group">
        <label>
            Profile Photo
          <input type="file" name="profile-image" class="form-control-file" />
        </label>
      </div>
   
    <button type="submit">Create account</button>
    <input type="image" src="" alt="" />
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  
</div>