
<section id="gallery-section">
<div id="search-container">
  {{> searchBar}}
  {{#each images}}
    <img src="{{urls.small}}" alt="{{this.alt_description}}" />
    <p id="img-description">{{this.alt_description}}</p>
  {{/each}}
</div>
</section>
