
<h1>{{appTitle}} 🚀</h1>
<p>Welcome! Dive in and Explore! Art is fun too...</p>

<section>
  <h2>About Kunstaushang...</h2>
  <p>Art and museums possess a remarkable power to captivate and inspire us.
    They offer an environment where we can immerse ourselves in creativity,
    history, and culture. Thanks to Kunstaushang, we can easily share our
    experiences and the stunning visuals of art with people all over the world.
    This virtual connection allows us to appreciate and learn from various
    artistic expressions, cultivating a deeper appreciation for the beauty that
    art brings to our lives. By sharing photos, videos, and thoughts online, we
    can spread the delight of art and connect with a wider audience, forging
    relationships and broadening our perspectives..</p>
</section>

 {{> searchBar}}
