<p>Welcome! Dive in and Explore! Art is fun too...</p>



 {{> searchBar}}
 
    <div class="slideshow-container">
      <img class="slide" src="/images/slide/slide1.jpg" alt="Image 1" />
      <img class="slide" src="/images/slide/slide2.jpg" alt="Image 2" />
      <img class="slide" src="/images/slide/slide3.jpg" alt="Image 3" />
      <img class="slide" src="/images/slide/slide4.jpg" alt="Image 4" />
    </div>
