{{!-- views/books/book-create.hbs --}}

<h2>Upload your image</h2>
<div class="row">
  <div class="col-md-6">
<form action="/gallery/create" method="post" enctype="multipart/form-data">
 <div class="form-group">
  <label> Title:
    <input type="text" name="title" class="form-control"/>
  </label>
</div>
 <div class="form-group">
  <label> Author:
    <input type="text" name="author" class="form-control"/>
  </label>
 <div class="form-group">
  <label> Description:
    <textarea name="description" cols="30" rows="4" class="form-control"> </textarea>
  </label>
  </div>
 <div class="form-group">
  <label> Rating:
    <input type="number" name="rating" min="1" max="10" class="form-control"/>
  </label>
  </div>
  <div class="form-group">
        <label>Image:
          <input type="file" name="picture-cover-image" class="form-control-file" class="form-control-file"/>
        </label>
      </div>
 
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
