body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #264301;
}

header {
  background-color: #d69e02;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav {
  background-color: #d69e02;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  background-color: #fffafa;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

footer {
  background-color: #d69e02;
  color: #fff;
  padding: 9px;
  text-align: center;
}
